<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

<!--    Setter Injection-->
    <bean class="org.example.Student" name="student1">
        <property name="studentId">
            <value>2234</value>
        </property>

        <property name="studentName">
            <value>Krishna</value>
        </property>

        <property name="studentAddress">
            <value>Gwalior</value>
        </property>
    </bean>

    <bean class="org.example.Student" name="student2">
        <property name="studentId" value="1212"/>

        <property name="studentName" value="prachi"/>

        <property name="studentAddress" value="Jaipur"/>
    </bean>

    <bean class="org.example.Student"
          name="student3"
          p:studentId="1345"
          p:studentName="Roohi"
          p:studentAddress="Kota"/>



</beans>